Repository SOPT-CDS-WEB-6/CDS-Client, pull requests merged in 2023-05, with the labels that each got.

#7 [common] Footer UI 구현하기
  .gitignore
  src/App.tsx
  src/Router.tsx
  src/asset/icon/ic_FooterDropDown.svg
  src/asset/icon/ic_FooterGo.svg
  src/asset/icon/index.ts
  src/common/Footer.tsx
  src/components/PageLayout.tsx
  src/constants/footerData.ts
  src/main.tsx
  src/styles/globalStyles.ts
Labels: 👣footer

#9 [movieInfo] scoreBox 까지의 전반적인 페이지 UI 구현하기
  .yarn/cache/@esbuild-darwin-arm64-npm-0.17.19-64d69299ed-8.zip
  .yarn/install-state.gz
  src/App.tsx
  src/asset/icon/ic_4dxLogoImg.svg
  src/asset/icon/ic_Ad1Img.svg
  src/asset/icon/ic_Ad2Img.svg
  src/asset/icon/ic_BrownTextBox.svg
  src/asset/icon/ic_Chart1Img.svg
  src/asset/icon/ic_Chart2Img.svg
  src/asset/icon/ic_EggIcon.svg
  src/asset/icon/ic_GoldeggImg.svg
  src/asset/icon/ic_ImaxImg.svg
  src/asset/icon/ic_InfoIcon.svg
  src/asset/icon/ic_MidadImg.svg
  src/asset/icon/ic_MovieImg.svg
  src/asset/icon/ic_PreeggImg.svg
  src/asset/icon/ic_QuestionEgg.svg
  src/asset/icon/ic_StillCutImg.svg
  src/asset/icon/ic_Trailer1Img.svg
  src/asset/icon/ic_Trailer2Img.svg
  src/asset/icon/ic_Trailer3Img.svg
  src/asset/icon/index.ts
  src/components/MovieDetail.tsx
  src/components/MovieInfo.tsx
  src/components/ScoreBox.tsx
  src/components/SideAdBanner.tsx
  src/components/StillCutBox.tsx
  src/components/TrailerBox.tsx
  src/main.tsx
  src/pages/MovieInfoPage.tsx
  src/styles/globalStyles.ts
  src/styles/styled.d.ts
  src/styles/theme.ts
Labels: 🍿 movieInfo

#24 [myMovie] 서버 api 붙이기
  src/App.tsx
  src/Router.tsx
  src/components/MovieCard.tsx
  src/components/MovieHeader.tsx
  src/components/MyMovie.tsx
  src/components/PreferenceNav.tsx
  src/components/UserPreference.tsx
  src/types/MovieData.ts
Labels: 🎬 myMovie

#25 [myMovie] 선택된 년도 별 카드 필터링
  src/components/MovieCard.tsx
  src/components/MovieHeader.tsx
  src/components/MyMovie.tsx
  src/components/PreferenceNav.tsx
  src/components/UserPreference.tsx
Labels: 🎬 myMovie

#36 [ movieInfo ] 리뷰 페이지네이션 UI 구현 및 서버 통신
  .env
  package.json
  src/asset/icon/Ic_more.svg
  src/asset/icon/ic_MoreDots.svg
  src/asset/icon/ic_ProfileGoldEgg.svg
  src/asset/icon/ic_profile.svg
  src/asset/icon/ic_thumb.svg
  src/asset/icon/index.ts
  src/components/movieInfo/Review.tsx
  src/components/movieInfo/ReviewPagenation.tsx
  src/components/movieInfo/Skeleton/ReviewLanding.tsx
  src/components/movieInfo/Skeleton/ReviewSkeleton.tsx
  src/constants/animation.ts
  src/libs/axios.ts
  src/libs/hooks/useGetReviewList.tsx
  src/types/movieInfo.ts
  vite.config.ts
Labels: 🍿 movieInfo, ✅ codeReview

#42 [myMovie] 영화 카드 무한스크롤 구현
  src/components/MovieCard.tsx
  src/components/MovieHeader.tsx
  src/components/MyMovie.tsx
  src/components/PreferenceNav.tsx
  src/components/UserPreference.tsx
  src/hooks/useGetUserInfo.tsx
  src/hooks/useGetWatchedMovieInfo.tsx
  src/hooks/useScroll.tsx
  src/main.tsx
  src/types/MovieData.ts
Labels: 🎬 myMovie, ✅ codeReview

#39 [Fixed button] fixed button UI 구현
  src/asset/icon/ic_faq.svg
  src/asset/icon/index.ts
  src/components/PageLayout.tsx
  src/components/common/FixedButton.tsx
Labels: ✅ codeReview, Common

#43 [MovieInfo] 스틸컷 캐러셀 구현
  .pnp.cjs
  package.json
  src/components/MovieDetail.tsx
  src/components/MovieInfo.tsx
  src/components/NewStillCut.tsx
  src/components/StillCutBox.tsx
  src/libs/hooks/useGetMovieStillCut.tsx
  src/pages/MovieInfoPage.tsx
  yarn.lock
Labels: 🍿 movieInfo
